<form action="/profile" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" />
    <input type="text" name="hello" id="">
    <button type="submit">submit</button>
  </form>