<!-- here this is used as partail for that only we used underscore before name to defferentiate -->
<header>
    page header
    <a href="/">HOME</a>
    <a href="/user/signout">SIGN OUT</a>
</header>