<link rel="stylesheet" href="styles/chat-box.css">
<div id ="chat-box">
    <div id="msg-container">
        <p class="fromUserMsg msg">say hey, to your friends</p>
    </div>
    <div id="msg-input">
        <input type="text" name="msg" id="input-msg">
        <button id="send-msg-btn">send</button>
    </div>
</div>