<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <!-- <h1>contact list</h1> -->
    <table>
        <!-- <tr>
            <th>name</th>
            <th>contact</th>
        </tr> -->
        <% for(var i = 0; i<contact_list.length;i++) { %>
        <tr>
            <td><%= contact_list[i].name %></td>
            <td><%= contact_list[i].contact %></td>
            <td><form action="/delete-contact" method="post">
            <button type="submit" name = "del" value=<%= i %>>delete</button>
            </form></td>
        </tr>
        <% } %>
    </table>
    <form action="/create-contact" method="post">
    <input type="text" id = "item1" name="name" placeholder="enter name">
    <input type="text" id = "item2" name = "contact" placeholder="contact number">
    <button type="submit">add contact</button>
    </form>
</body>
</html>