<link rel="stylesheet" href="styles/chat-box.css">
<div id ="chat-box">
    <div id="msg-container">
        <p class="fromUserMsg msg">hey</p>
        <p class="toUserMsg msg">i am  fine how will you goannna do thi as you goin got this issue</p>
        <p class="toUserMsg msg">1i am  fine how will you goannna do thi as you goin got this issue</p>
        <p class="fromUserMsg msg">1hey</p>
        <p class="fromUserMsg msg">1hey</p>
        <p class="fromUserMsg msg">1hey</p>
        <p class="fromUserMsg msg">1hey</p>
        <p class="toUserMsg msg">1i am  fine how will you goannna do thi as you goin got this issue</p>

    </div>
    <div id="msg-input">
        <input type="text" name="msg" id="input-msg">
        <button id="send-msg-btn">send</button>
    </div>
</div>