<div>
    <p> Hi <%= data.userName %></p>
    <br>
    <br>
    <p>click <a href="http:/localhost:8000/user//password-verification/<%= data.token.id %>">here</a> to change your password</p>
    <p>  OTP is : <strong><%= data.token.token %> </strong>  dont share your otp</p>
</div>