<link rel="stylesheet" href="<%= assetPath('styles/signup.css')%>">

<h1>please enter the info to create account</h1>
<form action="/user/create-user" method="post">
<input required type="text" placeholder="enter user name" name = "name"> <br>
<input required type="email" placeholder="enter the mail" name = "email" ><br>
<input required type="password" name="password" placeholder="enter passoword"><br>
<input required type="password" name="confirm_password" placeholder="confirm passoword"><br>
<button type="submit">submit</button>
</form>