<link rel="stylesheet" href="/styles/signup.css">

<h1>please enter your credentials to sign in</h1>
<form action="/user/verify-token" method="post">
    <input  required type="email" placeholder="enter the mail" name = "email" ><br>
    <button  type="submit">submit</button>
</form>