<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>this is working  </p>
    <table>
        <tr>
            <th>name </th>
            <th>conatct</th>
        </tr>
        <% for(var a of contact_list){ %> 
        <tr>
            <td><%= a.name %></td>
            <td><%= a.contact %></td>
        </tr>
        <% } %>
    </table>
    <form action="/create-contact" method="post">  
        <label for="item1">Name</label>
        <input type="text" name="name" id="item1" placeholder="enter name">
        <label for="item1">Contact</label>
        <input type="text" name="contact" id="item2" placeholder="enter moble number">
        <button type="submit">submit</button>
    </form>

</body>
</html>